<!-- Trigger the modal with a button -->
<a class="btn-medium waves-effect waves-light modal-trigger" href="#myModal1">Open Modal</a>
<a class="btn-medium waves-effect waves-light modal-trigger" href="#carouselModal">Open Carousel Modal</a>

<!-- Modal Structure -->
<div id="myModal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

<div id="carouselModal" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="carousel carousel-slider center">
        <div class="carousel-item black white-text" href="#one!">
          <h2>First Panel</h2>
          <p class="white-text">This is your first panel</p>
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#four!">
          <h2>Fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
      </div>  
</div>

